:local {
  .titlebar {
    margin: 0px;
    padding: 2px;
    padding-left: 10px;
    height: 30px;
    width: 100vW;
    font-size: 1.5rem;
    font-weight: normal;
    background: rgb(253, 200, 25);
    display: flex;
    justify-content: space-between;
  }
  .mainTitle {
    // color: white;
    color: rgb(255, 235, 179);
  }
  .timeDisplay {
    padding-right: 20px;
    color: rgb(46, 56, 49);
  }
  .footerButtons {
    position: absolute;
    bottom: 0;
  }
  .startButton {
    margin-top: 1px;
    width: 100vw;
    text-align: center;
    height: 24px;
    // color: rgb(255, 235, 179);
    color: rgb(46, 56, 49);
    background: rgb(253, 200, 25);
    font-size: 1rem;
    opacity: .75;
    text-decoration: none;
  }
  .startButton:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
  .resetButton {
    background: rgb(252, 123, 3);
  }
  .container {
    position: absolute;
    left: 10px;
    margin-top: 4px;
  }

  *:focus {
    outline:none;
  }

  .container h2 {
    font-size: 1.75rem;
    font-weight: normal;
  }

  .container a {
    font-size: 1rem;
  }

  .rowwithbuttons {
    display: flex;
    align-items: baseline;
  }
  .mediumData {
    margin-top: 12px;
    font-size: 1rem;
    color: white;
    font-weight: normal;
  }
  .inputCount {
    width: 20px;
    color: rgb(253, 200, 25);
    margin-right: 10px;
    border: 0;
    background: transparent;
    text-align: center;
  }
  .inputDir {
    margin-top: 3px;
    margin-left: 0;
    width: 520px;
    color: rgb(253, 200, 25);
    border: 0;
    background: transparent;
    text-align: left;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .engineChooser {
    margin-left: 10px;
    color: rgb(253, 200, 25);
    display: flex;
  }
  .chooserButton {
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
    background: rgb(253, 173, 25);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }
  .engineHall {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
  }
  .engineCase {
    display: flex;
    margin: 10px;
    height: 2px;
    width: 260px;
    background: rgb(187, 135, 87);
  }
  .engineDownloadProgress {
    height: 2px;
    background: rgb(253, 200, 25);
  }
  .engineWriteProgress {
    height: 2px;
    background: rgb(5, 226, 171);
  }
  .smallData {
    margin-right: 10px;
    margin-bottom: 12px;
    font-size: 0.8rem;
    color: #B8B8B8;
    font-weight: lighter;
  }
  .totalDownloadProgress {
    width: calc(100vw - 20px);
    height: 2px;
    background: rgb(187, 135, 87);
    margin-bottom: 10px;
  }
  .totalDLprogress {
    height: 2px;
    background: rgb(253, 200, 25);
  }
  .assetList {
    // height: 450px;
    width: 620px;
    overflow: scroll;
  }
  button {
    font-size: 1rem;
    color: rgb(253, 200, 25);
    opacity: .75;
    text-decoration: none;
    border: none;
    background: transparent;
  }
  button:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
  .dlrow {
    display: flex;
    justify-content: space-evenly;
    height: 20px;
  }
  .dlrowType {
    width: 85px;
  }
  .dlrowUid {
    width: 260px;
  }
  .dlrowEngine {
    width: 20px;
  }
  .dlrowProgress {
    width: 200px;
  }
  .assetContainer {
    display: flex;
    margin: 0;
    height: 2px;
    width: 200px;
    background: rgb(187, 135, 87);
  }
  .assetDownloadProgress {
    height: 2px;
    background: rgb(253, 200, 25);
  }
  .assetWriteProgress {
    height: 2px;
    background: rgb(5, 226, 171);
  }

  .alldone {
    position: absolute;
    height: 150px;
    width: 260px;
    left: calc(50vw - 180px);
    top: calc(50vh - 180px);
    background: white;
    color: rgb(46, 56, 49);
    padding: 10px;
  }
  .alldoneTitle {
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 6px;
  }
  .alldoneSmall {
    font-size: 1rem;
  }
  .alldoneTime {
    font-weight: bold;
    margin-top: 6px;
  }
  .alldoneReset {
    color: white;
    text-align: center;
    height: 22px;
    line-height: 24px;
    font-size: 1rem;
    margin-top: 12px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
    font-weight: bold;
    background: rgb(253, 173, 25);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }
}
