.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  /*width: 320px;*/
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
div.navigatorContainer {
  height: 40px;
  background: #F2F0EE;
  padding: 4px 8px 4px 8px;
  width: "100%";
}
div.navigator {
  height: 40px;
  background: #242424;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navigatorHomebutton {
  background: #242424;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 32px;
  width: 100%;
}
.buttonStyles {
  flex: 1;
  background: #242424;
}
.img_centered{
  display: block;
  margin-left: auto;
  margin-right: auto 
}
.buttonChosenStyles {
  background: #DCDAD6;
}


*:focus {
  outline:none;
}