.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  /*width: 320px;*/
  background-color: rgb(0, 0, 0);
}
div.navigatorContainer {
  height: 40px;
  background: #F2F0EE;
  padding: 4px 8px 4px 8px;
  width: "100%";
}
div.navigator {
  height: 40px;
  background: #242424;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.navigatorHomebutton {
  background: #242424;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 32px;
  width: "100%";
}
.version {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 160px;
}

.buttonStyles {
  flex-grow: 1;
  background: #242424;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttonChosenStyles {
  background: #DCDAD6;
}
/*
decolines width 1016px, offset 80px
*/
.decorativeLines {
  position: absolute;
  z-index: 0;
  top: 24px;
  left: calc(50% - (1016px)/2 + 80px);
}
/*
newReport_button width 205px, offset 16px
*/
div.newRepcontainer {
  position: absolute;
  z-index: 2;
  top: 126px;
  left: calc(50% + 16px);

}
button.newReport_button {
  background: rgba(0, 0, 0, 0);
  border: 0px;
}


.alertBlock {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 32;
}
.deleteAlert {
  width: 256px;
  margin: auto;
  margin-top: 50%;
  border: 8px solid;
  border-color: #242424;
  background: #F2F0EE;
}

.alertTitle {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #242424;
  text-align: center;
  margin-top: 8px;
}
.alertMessage {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #242424;
  text-align: left;
  margin-top: 8px;
  margin-left: 12px;
  width: 232px;
}
.alertTeam {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.alertButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 24px;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #F2F0EE;
  text-align: center;
}
.alertButton {
  flex-grow: 1;
  width: 100px;
  margin: 2px;
  height: 44px;
  padding-top: 2px;
  background: #242424;
}
.alertOkButton {
  margin-right: 0px;
}

*:focus {
  outline:none;
}