.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 1000px;
  background-color: rgb(0, 0, 0);
}
div.navigator {
  display: flex;
  flex-direction: row;
  height: 57px;
}
div.navbutton {
  margin-top: 7px;
}

*:focus {
  outline:none;
}

div.mainChooser {
  width: 100%;
  margin-top: 12px;
}
.parallelChooserCircles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.reportChooser {
  margin-top: 12px;
  height: 500px;
  width: 100%;
  background: #000;
  overflow: scroll;
}

.no_reportList {
  text-align: center;
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #FFFFFF;
  background: #000;
  font-family: 'AlteDIN_G', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.reportList {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.reportRow {
  display: flex;
  user-select: none;
  height: 52px;
  margin-top: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.newReportRow {
  height: 62px;
}
.reportRowSlot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teamTitle {
  text-align: center;
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  font-family: 'AlteDIN_G', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.newTeamTitle {
  color: #000;
}
.circlebutton89 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-Index: 0;
}
.circlebutton89_button {
  font-family: 'AlteDIN_G', sans-serif;
  align-content: center;
  font-weight: 600;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  height: 89px;
  width: 89px;
}
.circlebutton89_arrow {
  margin-top: -3px;
  height: 20px;
  width: 20px;
}
div.propcircle {
  font-family: 'AlteDIN_G', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
}

.lineThrough {
  background: 'black';
  height: 3px;
  width: 100%;
}

.frontpage {
  width: 320px;
  text-align: center;
}

.Report {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 320px;
  background-color: #F4F4F4;
  margin: 0px;
  border: 0px;
  padding-left: 20px;
  text-align: left;
}

@font-face {
  font-family: 'AlteDIN_G';
  src: local('AlteDIN_G'), url(../fonts/din1451alt_G.ttf) format('ttf');
}