.Match {
    background-color: rgb(0, 0, 0);
    height: 548pt;
}
.timerContainer {
    margin-top: 32px;
    margin: auto;
    width: 302px;
    margin-left: calc(50% - 272px/2);
}

.eventbuttonContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 32px;
    width: 241px;
    height: 145px;
}
.eventbutton {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    background: transparent;
    border: none;
}


/*
event container base styles
*/
.eventContainer {
    position: absolute;
    z-index: 32;
    width: 256px;
    height: 432px;
    margin-top: 16px;
    background: #242424;
    margin-left: calc(50% - 256px/2);
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.eventContainerBG {
    position: absolute;
    width: 248px;
    height: 424px;
    border: 4px solid;
    border-color: #F2F0EE;
    background: transparent;
}
.eventTitle {
    padding-top: 14px;
    height: 32px;
    font-family: 'Bangers', cursive;
    font-size: 36px;
    letter-spacing: 1pt;
    color: #F2F0EE;
    text-align: center;
}
.eventTitlediv {
    width: 240px;
    margin-left: 8px;
    height: 2px;
}

/*
team selector styles
*/
.eventTeamSelector {
    height: 118px;
    width: 256px;
    margin-top: 8px;
    background: #242424;
    margin-bottom: 9px;
    z-index: 35;
}
.modifiedTeamSelector {
    height: 118px;
    width: 256px;
    margin-top: -4px;
    background: #242424;
    margin-bottom: -4px;
    z-index: 35;
}
.eventTeamSlot {
    position: absolute;
    height: 32px;
    width: 256px;
    padding-top: 4px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
    user-select: none;
    color: #242424;
    z-index: 36;
}
.eventTeamSlot1 {
    margin-top: 28px
}
.eventTeamSlot2 {
    margin-top: 84px
}

/*
active player selector styles
*/
.eventPlayerSelector {
    height: 62px;
    width: 256px;
    margin-top: 8px;
    z-index: 37;
}
.modifiedPlayerSelector {
    margin-top: -4px;
    margin-bottom: -4px;
}
.eventPlayerSlot {
    position: absolute;
    margin-top: 30px;
    height: 32px;
    width: 256px;
    z-index: 38;
}
.eventPlayerInput {
    height: 32px;
    width: 160px;
    margin-left: 48px;
    border: none;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #F2F0EE;
    text-align: center;
    -moz-user-select: all;
    text-decoration: none;
    background: transparent;
    user-select: all;
    z-index: 39;
}


/*
extra selector styles (injured player and injury etc.)
*/
.eventAdditionalSelector {
    height: 84px;
    width: 256px;
    margin-top: -4px;
    margin-bottom: -4px;
    z-index: 40;
}
.eventAdditionalSlot {
    position: absolute;
    margin-top: 30px;
    height: 32px;
    width: 128px;
    margin-left: 120px;
    z-index: 41;
}
.modifiedAdditionalSlot {
    margin-left: 8px;
}
.narrowInput {
    height: 32px;
    width: 80px;
    margin-left: 24px;
    border: none;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #F2F0EE;
    text-align: center;
    text-decoration: none;
    -moz-user-select: all;
    background: transparent;
    user-select: all;
    z-index: 42;
}


/*
event button styles
*/
.confirmButtonContainer {
    position: absolute;
    bottom: 0px;
}
.confirmButton {
    width: 128px;
    height: 56px;
    border: none;
    padding: 12px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #242424;
}


.force-select {  
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */   
  }