.Postmatch {
    background-color: rgb(0, 0, 0);
}
.teams {
    margin: auto;
    width: 320px;
    height: 80px;
    margin-top: 18px;
    margin-bottom: 0px;
}
.reportTeam {
    position: absolute;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: center;
    user-select: none;
    color: #242424;
    background: transparent;
    width: 216px;
}
.reportTeam1 {
    margin-top: 4px;
    margin-left: 4px;
}
.reportTeam2 {
    margin-top: 32px;
    margin-left: 100px;
}


.generalTable {
    margin: auto;
    width: 320px;
    height: 244px;
}
.gate {
    margin-left: 164px;
}
.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8px;
    height: 32px;
    width: 302px;
}
.reportTableInputSlot {
    margin: none;
    padding: 0px;
    background: transparent;
    width: 72px;
}

.reportTableField {
    margin: none;
    border: none;
    padding: 0px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    user-select: none;
    color: #F2F0EE;
    background: transparent;
    width: 72px;
    height: 31px;
}
.reportTableInputField {
    margin: none;
    border: none;
    padding: 0px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    user-select: all;
    color: #F2F0EE;
    background: transparent;
    padding-top: 2px;
    width: 72px;
    height: 31px;
}
.reportTableField1 {
    color: #0CB2D5;
}
.reportTableField2 {
    color: #E4297A;
}

.achievementTable {
    margin: auto;
    width: 320px;
    height: 224px; /*268 - 44*/
    padding-top: 44px;
}
.achievementRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
}
.achievementInputSlot {
    margin: none;
    border: none;
    width: 112px;
}

.reportAchievementField1 {
    color: #0CB2D5;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 128px;
}

.reportAchievementField2 {
    color: #E4297A;
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:hidden;
    width: 128px;
}

.reportAchievementInputField {
    color: #F2F0EE;
    width: 112px;
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
.reportInjuryTable {
    margin: auto;
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 44px;
}
.reportTableColumn {
    min-width: 160px;
    min-width: 64px;
}
.reportTableInjurySlot {
    width: 160px;
    height: 64px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.reportTableInjurySlot2 {
    align-items: flex-end;
}
.reportTableInjuredPlayer {
    width: 160px;
    top: 4px;
    color: #0CB2D5;
    border: none;
    text-align: left;
    height: 28px;
    padding-left: 8px;
}
.reportTableInjuredPlayer2 {
    padding-right: 8px;
    color: #E4297A;
    text-align: right;
}
.reportTableInjuryDescriptionRow {
    height: 28px;
    width: 152px;
    padding: 0px;
    padding-left: 8px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}
.reportTableInjuryDescriptionRow2 {
    align-content: flex-end;
    padding-right: 8px;
}
.reportTableInjuryDescription {
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding-top: 6px;
    width: 102px;
}
.reportTableInjuryDescription2 {
    text-align: right;
}
.reportTableInjuryNumber {
    width: 44px;
    text-align: center;
    color: #F2F0EE;
}
.reportTableInjuredNoEffect {
    color: #9B9B9B;
}

.reportTableInjuredNoEffectNumber {
    color: #4A4A4A;
}


.improvementTable {
    margin: auto;
    width: 320px;
    min-height: 44px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 44px;
}
.improvementSlotContainer {
    width: 160px;
    height: 64px;
}

.improvementSlot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.improvementSlot2{
    align-items: flex-end;
    padding-left: 0px;
}

.reportImprovementField {
    margin: none;
    border: none;
    padding: 0px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    user-select: all;
    color: #F2F0EE;
    background: transparent;
    width: 72px;
    height: 32px;
}
.reportImprovementPlayerField {
    color: #F2F0EE;
    text-align: left;
    border: none;
    width: 145px;
    padding-left: 8px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:hidden;
}
.reportImprovementThrowField {
    color: #0CB2D5;
    text-align: center;
    border: none;
    padding-top: 0px;
    width: 32px;
    height: 28px;
    margin-left: 8px;
}

.reportImprovementPlayerField2 {
    text-align: right;
    padding-right: 8px;
}
.reportImprovementThrowField2 {
    color: #E4297A;
    margin-left: 0px;
    margin-right: 8px;
}

.improvementAddLine {
    cursor: pointer;
    height: 32px;
    width: 116px;
    margin: auto;
    margin-top: 0px;
}

.deleteButton {
    position: absolute;
    width: 160px;
    height: 64px;
    background: transparent;
    border: none;
}