.Prematch {
    height: 1746px;
    background: rgba(0, 0, 0, 0);
}
.teamNames {
    height: 140px;
}
.teamTitle {
    border: 0px;
    width: 248px;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-align: center;
    color: #242424;
}
.teamTitle1 {
    margin-left: 4px;
    margin-top: 20px;
}
.teamTitle2 {
    margin-left: 68px;
    margin-top: 10px;
}

.teamValues {
    height: 69px;
}
.teamValue {
    border: 0px;
    width: 248px;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-align: center;
    color: #242424;
}
.teamValue1 {
    margin-left: 4px;
    margin-top: 20px;
}
.teamValue2 {
    margin-left: 68px;
    margin-top: 10px;
}





.teamtitles {
    margin-top: 5px;
}
.teamTVs {
    margin-top: 0px;
    margin-left: 0px;
}
.inducementValue {
    margin-top: 30px;
    float: center;
    margin-bottom: 51px;
}
/*
    inducement circle:
    even:   margin-top      30 
            + circle        59 
            + margin-bottom 52
            =               141
    induced:
            arrow           42
            + arrow top     -6
            + margin-top    -6
            + circle        59 
            + margin-bottom 52
            =               141
*/
.homeinduced {
    float: left;
    margin-left: 50px;
    margin-top: -6px;
}
.awayinduced {
    float: right;
    margin-right: 50px;
    margin-top: -6px;
}
.inducements {
    margin-top: 52px;
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inducementsBox {
    background: black;
    border: none;
    flex: 1;
    height: 120px;
    color: white;
    text-align: left;
    padding: 6px;
    padding-left: 10px;
    font-family: 'AlteDIN_G', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    resize: none;
}
.homeInducements {
    margin-right: 1px;
}
.awayInducements {
    margin-left: 1px;
}

.gate {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fameValue {
    margin-top: 26px;
}
.homefame {
    float: left;
    margin-left: 50px;
    margin-top: -6px;
}
.awayfame {
    float: right;
    margin-right: 50px;
    margin-top: -6px;
}
.weatherChooser {
    margin-top: 270px;
}
.weatherChooserRow {
    height: 39px;
    width: 320px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 1px;
}
.weatherChooserRowArrow {
    height: 40px;
    width: 40px;
}
.weatherChooserRowtext {
    user-select: none;
    text-align: center;
    font-family: 'AlteDIN_G', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weatherChooserRowThrow {
    height: 39px;
    width: 60px;
    margin-left: 20px;
}
.weatherChooserRowDescription {
    width: 230px;
    font-weight: 500;
    margin-right: 10px;
    color: white;
}