.reportChooser {
  margin: 0px;
  padding: 0px;
  border: 0px;
  left: 0px;
  margin-top: 128px;
  background: rgba(0, 0, 0, 0);
  /* overflow: scroll;*/
  z-index: 25;
}

.no_reportList {
  text-align: center;
  border: 0px;
  padding: 3px;
  margin: 12px;
  background: rgba(0, 0, 0, 0);
  font-family: 'AlteDIN_G', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.reportList {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  left: 0px;
  width: 320px;
}
.reportRow {
  margin-left: 0px;
  left: 0px;
  color: #242424;
  user-select: none;
  height: 88px;
  width: 344px;
}
.reportSlot {
  margin-left: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  user-select: none;
  height: 80px;
  width: 320px;
}
.reportControls {
  width: 80px;
  z-index: 9;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.controlRow {
  border: 0px;
  padding-left: 0px;
  padding-top: 0px;
  width: 80px;
  height: 24px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-decoration: none;
  opacity: 0.5;
}
.reportDateSlot {
  background: #F2F0EE;
}
.reportOpenSlot {
  background: #7ED321;
}
.reportDeleteSlot {
  background: #D0021B;
}
.enabledControls {
  opacity: 1;
  color: #242424;
}
.reportTeams {
  width: 232px;
  display: flex;
  user-select: none;
  justify-content: space-evenly;
  flex-direction: column;
}
.teamRow {
  height: 40px;
  padding-left: 0px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Lobster', cursive;
  font-size: 22pt;
  text-decoration: none;
  text-align: center;
}
.teamRowName {
  width: 184px;
}
.teamRowScore {
  width: 48px;
}






.inputRow {
  height: 62px;
  align-content: space-between;
}
.vs {
  height: 39px;
  width: 39px;
  z-index: 10;
  position: absolute;
  align-self: center;
  left: calc((320px - 39px) / 2);
  justify-self: center;
}

.reportRowSlot {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  justify-content: center;
}
.inputRowSlot {
  margin-top: 0px;
}
.teamTitle {
  text-align: center;
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  font-family: 'AlteDIN_G', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.newTeamTitle {
  color: #000;
  text-decoration: none;
}
