.reportChooser {
  margin-top: 0px;
  width: 320px;
  background: #000;
  overflow: scroll;
}
.bottomButton {
  width: 320px;
  height: 52px;
  position: absolute;
  top: calc(100vh - 52px);
}
.no_reportList {
  text-align: center;
  border: 0px;
  padding: 3px;
  margin: 12px;
  color: #FFFFFF;
  background: #000;
  font-family: 'AlteDIN_G', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.reportList {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.reportRow {
  user-select: none;
  height: 72px;
  margin-top: 18px;
}
.teamsRow {
  display: flex;
  height: 50px;
  user-select: none;
  flex-direction: row;
}
.inputRow {
  height: 62px;
  align-content: space-between;
}
.vs {
  height: 39px;
  width: 39px;
  z-index: 10;
  position: absolute;
  align-self: center;
  left: calc((320px - 39px) / 2);
  justify-self: center;
}
.reportDate {
  z-index: 9;
  width: 100%;
  padding-left: 6px;
  padding-top: 1px;
  height: 12px;
  text-align: left;
  color: #FFFFFF;
  font-family: 'AlteDIN', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.reportRowSlot {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  justify-content: center;
}
.inputRowSlot {
  margin-top: 0px;
}
.teamTitle {
  text-align: center;
  height: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  font-family: 'AlteDIN_G', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.newTeamTitle {
  color: #000;
  text-decoration: none;
}
@font-face {
  font-family: 'AlteDIN';
  src: local('AlteDIN'), url(../fonts/din1451alt.ttf) format('ttf');
}