.timerContainer {
    width: 302px;
}
.timepiece {
    margin-top: 0px;
    width: 302px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
}

.degrees {
    position: absolute;
    margin-top: 0px;
    z-index: 2;
}
.base {
    position: absolute;
    margin-top: 0px;
    z-index: 1;
}

.facecontainer {
    width: 302px;
    margin-top: 28px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 11;
    height: 268px;
}

*:focus {
    outline:none;
}
.timerbuttons {
    left: 0px;
    margin: 0px;
    width: 272px;
    position: absolute;
    top: 25px;
    z-index: 10;
}
.timerbutton {
    border: none;
    background: transparent;
    width: 48px;
    height: 48px;
    margin: 0px;
}
.resetbutton {
    float: left;
}
.setbutton {
    float: right;
}

.timer {
    color: #242424;
    z-index: 11;
    user-select: none;
}
.timer_paused {
    color: #9B9B9B;
}
.timerinputcontainer {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 96px;
    border: none;
    text-decoration: none;
    text-align: center;
    margin-top: 43px;
    width: 224px;
    height: 76px;
    position: absolute;
    margin-left: 24px;
    border: none;
    margin: none;
    padding: none;
    z-index: 12;
}
.timerinput {
    color: black;
    user-select: all;
    text-align: center;
    font-family: 'AlteDIN_G', sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-decoration: none;
    z-index: 11;
    border: none;
    background: #FF55F8;
}
.timerpaused {
    width: 192px;
    height: 40px;
    margin-top: 80px;
    margin-left: 40px;
    z-index: 16;
}
